/* Couleur de fond générale */
body {
  background-color: #faf7e8;
}

/* Style pour les cartes de cocktail */
.cocktail-card {
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Ajoute une ombre pour donner de la profondeur */
}

.cocktail-card h2 {
  margin-top: 0;
  color: #4e2343; /* Couleur plus foncée pour le titre */
}

.cocktail-card p {
  margin-bottom: 10px;
  color: #4e2343; /* Couleur plus claire pour le texte */
}

/* Style pour la liste d'ingrédients */
.ingredients-list {
  padding-left: 20px;
  list-style-type: none; /* Supprime les puces de la liste */
}

/* Style pour chaque ingrédient */
.ingredient {
  margin-bottom: 5px;
}

/* Media query pour les petits écrans */
@media screen and (max-width: 600px) {
  /* Réduire la largeur du conteneur principal */
  .container {
    max-width: 100%;
    padding: 10px;
    box-sizing: border-box; /* Inclut le padding et la bordure dans la largeur totale */
  }
}

/* Media query pour les écrans moyens */
@media screen and (min-width: 601px) and (max-width: 900px) {
  /* Ajuster la largeur du conteneur principal */
  .container {
    max-width: 80%;
    padding: 20px; /* Plus de padding sur les écrans plus grands */
    box-sizing: border-box; /* Inclut le padding et la bordure dans la largeur totale */
  }
}