@tailwind base;
@tailwind components;
@tailwind utilities;

.searchbar {
    background-color: #130142;
    color: #ffffff;
    border: none;
    border-radius: 15px;
    width: 90vw;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 4vh;
}