.navbar {
    display: flex;
    justify-content: space-around;
    background-color: #eee9d2;
    padding: 10px 0;
    position: fixed;
    top: 0;
    transition: top 0.3s;
  }
  
  .navbar-nav {
    display: flex;
    list-style: none;
    padding-left: 0;
  }
  
  .nav-item {
    margin-right: 15px;
  }
  
  .nav-link {
    text-decoration: none;
    color: #4e2343;
  }
  
  .nav-link:hover {
    color: #dd52c6;
  }